# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv/
venv/
ENV/
env/
*.log

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn-integrity
package-lock.json

# IDE ve Editör
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Proje özel
user_favorites.json
user_portfolios.json 